<template>
  <VueSlickCarousel v-bind="setting">
    <div class="holder-recent-blog" v-for="item in slides" :key="item.key">
      <div class="item-recent-blog">
        <div class="box-recent-blog-img">
          <img class="img-path" src="@/assets/img/b1.jpg">
          <div class="framPic-recent-blog"></div>
        </div>
        <div class="desc-box-rb p-2">
          <div class="text-box-rb">
            <a href="#" class="title-tbr">{{ item.title }}</a>
            <p class="desc-tbr">{{ item.summery }}</p>
          </div>
          <div class="bottom-box-rb">
            <div>
              <div class="author-name-bbr"><i class="vuesax-bold-profile-circle"></i>نرجس علیپور</div>
              <div class="author-name-bbr">1400/09/07<i class="caln"></i></div>
            </div>
            <div class="d-flex align-items-center">
              <a class="more-special-btn" href="#">
                مشاهده بیشتر
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </VueSlickCarousel>
</template>

<script>

import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// import '@/assets/css/slick.css'
import '@/assets/css/slick-theme.css'

export default {
  name: "BlogSlider",
  components: {VueSlickCarousel},
  data: () => ({
    slides: [
      {
        title: 'لورم ایپسوم متن ساختگی',
        summery: 'لـورم ایپسوم متن سـاختگی با تولیـد سادگی نـامفهـوم از صنعت که چـاپ و با استفـاده از طراحـان گرافیک است\n'
      },
      {
        title: 'لورم ایپسوم متن ساختگی',
        summery: 'لـورم ایپسوم متن سـاختگی با تولیـد سادگی نـامفهـوم از صنعت که چـاپ و با استفـاده از طراحـان گرافیک است\n'
      },
      {
        title: 'لورم ایپسوم متن ساختگی',
        summery: 'لـورم ایپسوم متن سـاختگی با تولیـد سادگی نـامفهـوم از صنعت که چـاپ و با استفـاده از طراحـان گرافیک است\n'
      },
      {
        title: 'لورم ایپسوم متن ساختگی',
        summery: 'لـورم ایپسوم متن سـاختگی با تولیـد سادگی نـامفهـوم از صنعت که چـاپ و با استفـاده از طراحـان گرافیک است\n'
      },
      {
        title: 'لورم ایپسوم متن ساختگی',
        summery: 'لـورم ایپسوم متن سـاختگی با تولیـد سادگی نـامفهـوم از صنعت که چـاپ و با استفـاده از طراحـان گرافیک است\n'
      },
      {
        title: 'لورم ایپسوم متن ساختگی',
        summery: 'لـورم ایپسوم متن سـاختگی با تولیـد سادگی نـامفهـوم از صنعت که چـاپ و با استفـاده از طراحـان گرافیک است\n'
      },
    ],
    setting: {
      infinite: true,
      speed: 300,
      arrows: true,
      dots: false,
      slidesToShow: 4,
      slidesToScroll: 1,
      cssEase: 'linear',
      rtl: true,
      centerPadding:"0",
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 1,
            infinite: false,
            dots: false,arrows: true,
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    }
  })
}
</script>

<style>
.slick-next:before {
  font-family: 'icomoon';
  content: "\e911";
  transform: rotate(180deg);
  display: block;
}
.slick-prev:before {
  font-family: 'icomoon';
  content: "\e911";
}
</style>