<template>
  <div class="row justify-content-center">
    <div class="col-4">
      <b-form-row>
        <b-form-group label="mobile" class="col">
          <b-input v-model="form.login" name="login" type="text" placeholder="mobile" />
        </b-form-group>
      </b-form-row>
      <b-form-row>
        <b-form-group label="password" class="col">
          <b-input v-model="form.password" name="password" type="password" placeholder="password" />
        </b-form-group>
      </b-form-row>
      <b-form-row>
        <b-form-group class="col">
          <b-form-file
            :state="Boolean(file)"
            placeholder="Choose a file or drop it here..."
            drop-placeholder="Drop file here..."
            @change="fileChange"
          ></b-form-file>
        </b-form-group>
      </b-form-row>
      <b-form-row class="justify-content-between">
        <b-button variant="danger" @click="login">login</b-button>
        <b-button variant="success" @click="getProfile">profile</b-button>
        <b-button variant="warning" @click="logout">logout</b-button>
        <b-button variant="info" @click="save">new opp</b-button>
        <b-button variant="dark" @click="upload">up</b-button>
      </b-form-row>
      <b-row v-if="profile">
        {{ profile.first_name }} {{ profile.last_name }}
      </b-row>
      <b-row class="my-4">
        <b-col v-if="asset">
          <img :src="asset.links.full" alt="" class="img-thumbnail">
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { authApi, oppApi, authStorage, assetsApi } from '../api'

export default {
  name: "HelloWorld",
  data: function () {
    return {
      form: {
        login: "",
        password: "",
      },
      file: null,
      opp: {
        title: 'Another Opportunity',
        origin_id: 5,
        categories: [13],
        destinations: [14,12],
        description: 'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک nist '
      },
      profile: {},
      asset: null
    };
  },
  mounted() {
    
  },
  methods: {
    fileChange(event) {
      this.file = event.target.files[0]
    },
    async login() {
      let res = await authApi.login(this.form)

      if (res.ok) {
        let {token, info, ttl} = res.data
        this.profile = info
        authStorage.setAuth(token, info, ttl)
      } else {
        console.log(res);
      } 
    },
    async getProfile() {
      console.log(this.exampleFunc('hi'))
      let res = await authApi.profile()
      if(res.ok) {
        this.profile = res.data
      } else {
        console.log(res.data.message)
      }
    },
    async logout() {
      await authApi.logout().then(() => {
        authStorage.removeAuth()
        this.profile = {}
      })
    },
    async save() {
      let res = await oppApi.store(this.opp)
      console.log(res.data)
    },
    async update() {
      let res = await oppApi.store(this.opp)
      console.log(res.data)
    },
    async upload() {
      let data = new FormData()
      data.append('file', this.file)
      let res = await assetsApi.upload(data)
      console.log(res)
      if (res.ok) {
        this.asset = res.data
      }
    }
  },
};
</script>
<style>
input:not(:placeholder-shown){
  border-color: red !important;
}

input:placeholder-shown{
  border-color: yellow !important;
}
</style>