<template>
  <div class="jab-advance-search">
    <loading :active="isBusy" is-full-page/>
    <div class="search-jas">
      <input type="text" placeholder="عنوان شغلی یا شرکت ..." v-model="searchData.title">
    </div>
    <div class="job-group-jas">
      <select class="form-select" aria-label="Default select example" v-model="searchData.category_id">
        <option :value="null">گروه شغلی</option>
        <template v-for="item in categories">
          <option :value="item.id" :key="`cat-${item.id}`">{{ item.name }}</option>
        </template>
      </select>
    </div>
    <div class="job-origin-jas">
      <select class="form-select" aria-label="Default select example" v-model="searchData.origin_id">
        <option :value="null">مبدا</option>
        <template v-for="item in cities">
          <option :value="item.id" :key="`origin-${item.id}`">{{ item.name }}</option>
        </template>
      </select>
    </div>
    <div class="job-goal-jas">
      <select class="form-select" aria-label="Default select example" v-model="searchData.destination_id">
        <option :value="null">مقصد</option>
        <template v-for="item in cities">
          <option :value="item.id" :key="`destination-${item.id}`">{{ item.name }}</option>
        </template>
      </select>
    </div>
    <div class="job-search-btn-jas">
      <button @click="onSearch"><a>جستجو</a></button>
    </div>
  </div>
</template>

<script>
import {catApi, cityApi} from "@/api";
const searchData = {
  title: '',
  origin_id: null,
  destination_id: null,
  category_id: null
}

export default {
  name: "SearchBox",
  props: {
    searchData: {
      type: Object,
      default: () => ({...searchData})
    }
  },
  model: {
    prop: 'searchData',
    event: 'input'
  },

  data: () => ({
    isBusy: false,
    categories: [],
    cities: []
  }),

  async mounted() {
    Object.keys(searchData).forEach(k => {
      if (typeof this.searchData[k] === 'undefined') {
        this.searchData[k] = searchData[k]
      }
    })
    await this.loadOptions()
  },

  methods: {
    onSearch() {
      this.$emit('search')
    },
    async loadOptions() {
      this.isBusy = true
      await this.loadCategories()
      await this.loadCities()
      this.isBusy = false
    },
    async loadCities() {
      let res = await catApi.list()
      if (res.ok) {
        this.categories = res.data
      }
    },
    async loadCategories() {
      let res = await cityApi.list()
      if (res.ok) {
        this.cities = res.data
      }
    }
  }
}
</script>