<template>
  <div class="info-box-ar">
    <div class="info-row-ar">
      <div class="single-info"><i class="frame"></i>{{ item.title }}</div>
      <div class="single-info"><i class="buliding"></i>{{ item.position }} - {{ item.origin.name }}</div>
      <div class="single-info2">
        <i class="times"></i>
        {{ item.created_at | _ago }}<span class="px-2">|</span>{{ item.created_at | moment('jDD jMMM jYYYY')}}
      </div>
    </div>
    <a href="#"><i class="arrow"></i></a>
  </div>
</template>

<script>
export default {
  name: "SingleOpp",
  props: ['item']
}
</script>

<style scoped>

</style>