@font-face {
  font-family: "Estedad";
  src: url("../fonts/Estedad/Estedad[wght,kshd].eot");
  src: url("../fonts/Estedad/Estedad[wght,kshd].eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Estedad/woff2/Estedad-Light.woff2") format("woff2"),
    url("../fonts/Estedad/Estedad[wght,kshd].woff") format("woff"),
    url("../fonts/Estedad/Estedad[wght,kshd].ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Estedad";
  src: url("../fonts/Estedad/Estedad[wght,kshd].eot");
  src: url("../fonts/Estedad/Estedad[wght,kshd].eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Estedad/woff2/Estedad-Regular.woff2") format("woff2"),
  url("../fonts/Estedad/Estedad[wght,kshd].woff") format("woff"),
  url("../fonts/Estedad/Estedad[wght,kshd].ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Estedad";
  src: url("../fonts/Estedad/Estedad[wght,kshd].eot");
  src: url("../fonts/Estedad/Estedad[wght,kshd].eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Estedad/woff2/Estedad-Bold.woff2") format("woff2"),
  url("../fonts/Estedad/Estedad[wght,kshd].woff") format("woff"),
  url("../fonts/Estedad/Estedad[wght,kshd].ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Morabba";
  src: url("../fonts/Morabba/Morabba.eot");
  src: url("../fonts/Morabba/Morabba.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2"),
    url("../fonts/Morabba/woff/Morabba-Light.woff") format("woff"),
    url("../fonts/Morabba/Morabba-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Morabba";
  src: url("../fonts/Morabba/Morabba.eot");
  src: url("../fonts/Morabba/Morabba.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Morabba/woff2/Morabba-Regular.woff2") format("woff2"),
    url("../fonts/Morabba/woff/Morabba-Regular.woff") format("woff"),
    url("../fonts/Morabba/Morabba-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Morabba";
  src: url("../fonts/Morabba/Morabba.eot");
  src: url("../fonts/Morabba/Morabba.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2"),
    url("../fonts/Morabba/woff/Morabba-Bold.woff") format("woff"),
    url("../fonts/Morabba/Morabba-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: icomoon;
  font-weight: 950;
  src: url("../fonts/jabejasho/icomoon.eot") format("embedded-opentype"),
    url("../fonts/jabejasho/icomoon.woff") format("woff"),
    url("../fonts/jabejasho/icomoon.ttf") format("truetype");
}
@-ms-viewport {
  width: device-width;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
body {
  direction: rtl;
  background: #fff;
  overflow-wrap: break-word;
  font-size: 12px;
  line-height: 1.5;
  overflow-x: hidden;
  font: 500 12px/22px "Estedad";
  margin: 0 auto;
  color: #303030;
}
body.rtl {
  direction: rtl;
}
img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
h1,
h2,
h4,
h5,
h6 {
  font-weight: 900;
}
p {
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
  font-family: inherit;
}
i {
  text-align: center;
  line-height: 26px;
}
button {
  font-family: inherit;
}
:root {
  --main-color: #1e83f3;
  --jab-lightBlue: #5ff4f4;
  --jab-black: #303030;
  --jab-gray: #a2a2a2;
  --percent-100: 100%;
  --max-1366: 1366px;
  --f-12: 12px;
  --f-14: 14px;
  --f-16: 16px;
  --f-18: 18px;
  --f-20: 20px;
  --f-22: 20px;
  --f-32: 32px;
}
a:hover,
a,
.nav-link,
.nav-link:hover {
  color: unset;
}
.form-select:focus,
.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
/*font-icons*/
.times::before {
  content: "\e90d";
  font: 29px "icomoon";
  position: relative;
  top: 3px;
  font-size: 12px;
  padding: 4px;
}
.search::before {
  content: "\e90e";
  font: 29px "icomoon";
  position: relative;
  top: 3px;
  font-size: 12px;
  padding: 4px;
}
.frame::before {
  content: "\e90f";
  font: 29px "icomoon";
  position: relative;
  top: 3px;
  font-size: 12px;
  padding: 4px;
}
.arrow::before {
  content: "\e901";
  font: 29px "icomoon";
  position: relative;
  top: 3px;
  font-size: 12px;
  padding: 4px;
}
.buliding::before {
  content: "\e902";
  font: 29px "icomoon";
  position: relative;
  top: 3px;
  font-size: 12px;
  padding: 4px;
}
.vuesax-bold-profile-circle::before {
  content: "\e90c";
  font: 29px "icomoon";
  position: relative;
  top: 3px;
  font-size: 12px;
  padding: 4px;
}
.caln::before {
  content: "\e903";
  font: 29px "icomoon";
  position: relative;
  top: 3px;
  font-size: 12px;
  padding: 4px;
}
.arrow-slider::before {
  content: "\e911";
  font: 29px "icomoon";
  position: relative;
  top: 3px;
  font-size: 12px;
  padding: 4px;
}
.vuesax-bold-map::before {
  content: "\e904";
  font: 29px "icomoon";
  position: relative;
  top: 3px;
  font-size: 12px;
  padding: 4px;
}
.sms-tracking::before {
  content: "\e905";
  font: 29px "icomoon";
  position: relative;
  top: 3px;
  font-size: 12px;
  padding: 4px;
}
.call-calling::before {
  content: "\e906";
  font: 29px "icomoon";
  position: relative;
  top: 3px;
  font-size: 12px;
  padding: 4px;
}
.right-quote::before {
  content: "\e900";
  font: 29px "icomoon";
  position: relative;
  top: 3px;
  font-size: 12px;
  padding: 4px;
}
.pluse::before {
  content: "\e90b";
  font: 29px "icomoon";
  position: relative;
  top: 3px;
  font-size: 12px;
  padding: 4px;
}
.Articlesicon::before {
  content: "\e907";
  font: 29px "icomoon";
  position: relative;
  top: 3px;
  font-size: 12px;
  padding: 4px;
}
/*font-icons-end*/
.w-10 {
  width: 10%;
}
/*header-st*/
.bg-img-header {
  background-image: url("../img/svg/header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 670px;
  width: var(--percent-100);
}
.menu-top {
  height: var(--percent-100);
  max-height: 125px;
  align-content: center;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.jab-logo {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.jab-logo img {
  width: 67px;
  padding-left: 5px;
}
.jab-logo a {
  color: #fff;
  font-size: 21px;
  font-family: "morabba";
}
.nav-item {
  font-size: 16px;
  color: #fff;
  font-family: "morabba";
  padding: 22px;
  z-index: 9999;
}
.jab-login-reg,
.holder-social-footer {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}
.holder-social-footer {
  width: 407px;
  padding-bottom: 7px;
}
.jab-holder-lr {
  display: flex;
  width: 146px;
  height: 38px;
  align-items: stretch;
  justify-content: center;
  background-color: #fff;
  border-radius: 6px;
  z-index: 9999;
}
.jab-btn-login {
  width: 70%;
  border-radius: 0px 6px 6px 0px;
  font-size: 16px;
  font-family: "morabba";
}
.jab-btn-register {
  width: 100%;
  background-color: #4c87c2;
  color: #fff;
  font-family: "morabba";
  font-size: 16px;
  border-radius: 6px 0px 0px 6px;
}
.job-img-head {
  width: 291px;
  height: 611px;
  position: absolute;
  left: 10px;
  top: -11px;
}
.jab-box-head {
  display: flex;
  flex-direction: column;
  max-width: 860px;
  max-height: 269px;
}
.title-jbh p {
  font-size: 29px;
  color: #fff;
  font-family: "Morabba";
  text-align: center;
}
.jab-advance-search {
  width: 830px;
  height: 102px;
  background-color: #fff;
  border-radius: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 20px;
}
.search-jas input,
.job-group-jas .form-select,
.job-origin-jas .form-select,
.job-goal-jas .form-select {
  width: 273px;
  height: 49px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  padding: 7px;
  color: var(--jab-gray);
  font-size: 14px;
}
.search-jas input::placeholder {
  color: var(--jab-gray);
}
.job-group-jas .form-select {
  width: 170px;
  height: 49px;
  border: none;
  padding: 0.375rem 0.25rem 0.375rem 0.75rem;
  background-position: left 0.75rem center;
  font-size: 14px;
  background-size: 9px 12px;
}
.job-group-jas,
.job-goal-jas {
  padding: 0px 10px;
}
.job-origin-jas .form-select,
.job-goal-jas .form-select {
  width: 80px;
  height: 49px;
  border: none;
  padding: 0.375rem 0.25rem 0.375rem 0.75rem;
  background-position: left 0.75rem center;
  font-size: 14px;
  background-size: 9px 12px;
}
.job-search-btn-jas button {
  width: 147px;
  height: 49px;
  border-radius: 9px;
  background-color: #4c87c2;
  color: #fff;
  font-size: 14px;
}
.job-search-btn-jas button a {
  width: 100%;
  height: 100%;
}
.job-recent-searches {
  width: 830px;
  display: flex;
  justify-content: space-between;
}
.recent-searches {
  display: flex;
  color: #fff;
  font-size: 16px;
}
.recent-searches .times::before,
.recent-searches p,
.single-recent-jrs p,
.single-recent-jrs .search::before,
.labels p {
  font-size: 16px;
}
.single-recent-jrs {
  display: flex;
  color: #fff;
  padding: 0px 7px;
}
.box-recent-searches {
  display: flex;
  flex-direction: column;
}
.job-img-head2 {
  width: 198px;
  height: 263px;
  position: absolute;
  right: 0px;
  top: 128px;
}
/*header-end*/
/*index-st*/
.job-about-box {
  padding-top: 5rem !important;
  display: flex;
  flex-direction: column;
}
.title-jab1 {
  display: flex;
  align-items: center;
  color: var(--jab-gray);
}
.title-jab1 .fas.fa-circle {
  padding: 10px;
}
.title-jab1 p {
  font-size: 21px;
}
.title-jab2 {
  font-size: 28px;
  font-family: "Morabba";
  line-height: 1.7;
  font-weight: 600;
}
.title-jab2 span,
.title1-coe span {
  color: var(--jab-lightBlue);
}
.discription-jab p {
  text-align: justify;
  font-size: 14px;
}
.statistics-box {
  display: flex;
  justify-content: space-evenly;
}
.single-statistics {
  text-align: center;
}
.single-statistics p:first-child {
  color: var(--jab-lightBlue);
  font-size: 28px;
}
.single-statistics p:nth-child(2) {
  color: var(--jab-black);
  font-size: 21px;
  font-family: "Morabba";
}
.jab-video-box {
  background-color: #bcefff;
  display: flex;
  padding: 20px;
  border-radius: 24px;
  justify-content: space-between;
  width: 884px;
}
.title-jvb a {
  color: var(--main-color);
  font-size: 22px;
  font-family: "Morabba";
}
.disc-jvb p {
  color: #5da9f6;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}
.video-jvb {
  background-color: #fff;
  height: 386px;
  width: 523px;
  border-radius: 24px;
}
.txt-jvb-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.video-jvb-holder {
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 15px;
}
.jab-videobox-img {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
.more-special-btn {
  width: 130px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: var(--jab-lightBlue);
  background-color: rgba(95, 244, 244, 0.13);
  font-weight: 600;
}
.more-special-btn:hover {
  color: var(--main-color);
}
.more-special-btn::before,
.more-special-btn::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: solid #000;
  border-width: 0;
  border-radius: 18px;
  transition: 0;
  -webkit-transition: 0;
  -moz-transition: 0;
  -o-transition: 0;
  -ms-transition: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-color: var(--jab-lightBlue);
}
.more-special-btn::before {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  width: 50%;
  height: 50%;
  border-bottom: 2px solid var(--jab-lightBlue);
  border-right: 2px solid var(--jab-lightBlue);
  border-radius: 0px 0px 18px 0px;
}
.more-special-btn::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 50%;
  height: 50%;
  border-top: 2px solid var(--jab-lightBlue);
  border-left: 2px solid var(--jab-lightBlue);
  border-radius: 18px 0px 0px 0px;
}
.more-special-btn:hover::before {
  border-width: 0 0 2px 2px;
  border-radius: 18px;
}
.more-special-btn:hover::after {
  border-width: 2px 2px 0 0;
  border-radius: 18px;
}
.more-special-btn:hover::after,
.more-special-btn:hover::before {
  height: 100%;
  width: 100%;
  transition: width 0.5s ease, height 0.5s ease 0.5s,
    border-top-right-radius 0.1s ease 0.4s,
    border-bottom-left-radius 0.1s ease 0.4s,
    border-bottom-right-radius 0.1s ease 0.9s,
    border-top-left-radius 0.1s ease 0.9s;
  -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s,
    border-top-right-radius 0.1s ease 0.4s,
    border-bottom-left-radius 0.1s ease 0.4s,
    border-bottom-right-radius 0.1s ease 0.9s,
    border-top-left-radius 0.1s ease 0.9s;
  -moz-transition: width 0.5s ease, height 0.5s ease 0.5s,
    border-top-right-radius 0.1s ease 0.4s,
    border-bottom-left-radius 0.1s ease 0.4s,
    border-bottom-right-radius 0.1s ease 0.9s,
    border-top-left-radius 0.1s ease 0.9s;
  -o-transition: width 0.5s ease, height 0.5s ease 0.5s,
    border-top-right-radius 0.1s ease 0.4s,
    border-bottom-left-radius 0.1s ease 0.4s,
    border-bottom-right-radius 0.1s ease 0.9s,
    border-top-left-radius 0.1s ease 0.9s;
  -ms-transition: width 0.5s ease, height 0.5s ease 0.5s,
    border-top-right-radius 0.1s ease 0.4s,
    border-bottom-left-radius 0.1s ease 0.4s,
    border-bottom-right-radius 0.1s ease 0.9s,
    border-top-left-radius 0.1s ease 0.9s;
}
.advertising-recently,
.box-title-list-movement {
  display: flex;
  justify-content: space-between;
}
.title-box-ar {
  display: flex;
  flex-direction: column;
}
.main-title {
  font-size: 22px;
  color: var(--jab-lightBlue);
  font-family: "Morabba";
}
.main-title:hover {
  color: var(--main-color);
}
.second-title {
  color: var(--jab-gray);
  font-size: var(--f-16);
}
.info-box-ar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-shadow: 0px 8px 20px 0px #0000000d;
  border-radius: 12px;
  padding: 10px;
  height: 125px;
}
.moste-visited-advertising-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-shadow: 0px 8px 20px 0px #0000000d;
  border-radius: 12px;
  padding: 10px;
}
.info-row-ar {
  display: flex;
  flex-direction: column;
}
.info-box-ar .arrow::before,
.moste-visited-advertising .arrow::before {
  font-size: 26px;
  color: var(--jab-gray);
}
.info-box-ar .arrow,
.moste-visited-advertising .arrow {
  transform: rotate(180deg);
  display: block;
}
.single-info {
  font-size: 14px;
  padding: 3px 0px;
}
.single-info2 {
  font-size: 12px;
  color: var(--jab-gray);
  padding: 3px 0px;
}
.single-info i,
.single-info2 i {
  padding: 2px;
  color: var(--jab-lightBlue);
}
.moste-visited-advertising {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px dashed #d5d5d5;
  padding: 30px 0px;
}
.single-mva {
  display: flex;
}
.recent-blog-content-bg {
  background-color: #5da9f6;
  background-size: cover;
  height: 584px;
}
.moste-visited-advertising-box .moste-visited-advertising:last-child {
  border-bottom: 1px dashed transparent;
}
.holder-recent-blog {
  padding: 5px;
}
.item-recent-blog {
  max-width: 268px;
  width: 100%;
  max-height: 370px;
  height: 100%;
  background-color: #fff;
  border-radius: 22px;
  box-shadow: 0px 0px 5px 0px #0000001f;
}
.title-recent-blog {
  color: #fff;
  font-size: 22px;
  font-family: "Morabba";
}
.title2-recent-blog {
  color: #fff;
  font-size: 16px;
}
.box-recent-blog-img {
  position: relative;
  overflow: hidden;
  height: 190px;
  border-radius: 22px 22px 0px 0px;
}
.framPic-recent-blog {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/svg/framePic.svg");
  height: 60px;
  background-repeat: no-repeat;
}
.img-path {
  clip-path: polygon(
    100% 0%,
    77% 0%,
    35% 0%,
    19% 0%,
    0% 0%,
    0% 44%,
    0% 85%,
    57% 92%,
    66% 94%,
    81% 97%,
    92% 91%,
    87% 95%,
    100% 75%,
    100% 78%,
    100% 85%,
    100% 47%,
    100% 25%
  );
}
.bottom-box-rb {
  display: flex;
  justify-content: space-between;
  max-height: 72px;
  height: 100%;
  border-top: 1px dashed #a1a1a14a;
  padding: 10px 0px;
}
.vuesax-bold-profile-circle::before,
.caln::before {
  color: #a1a1a1;
  font-size: 18px;
}
.author-name-bbr {
  color: #a1a1a1;
  font-size: 12px;
}
.bottom-box-rb .more-special-btn {
  width: 101px;
  height: 27px;
}
.title-tbr {
  font-size: 14px;
  color: #030303;
}
.desc-tbr {
  font-size: 14px;
  text-align: justify;
  color: #030303;
  padding: 6px 2px;
  font-weight: 300;
}
.slick-prev:before,
.slick-next:before {
  font-family: "icomoon";
  font-weight: 400;
}
#recent-blog .slick-next.slick-arrow,
#recent-blog .slick-prev.slick-arrow {
  top: 106%;
  z-index: 99999;
}
#recent-blog .slick-next.slick-arrow {
  left: 18px;
}
#recent-blog .slick-prev.slick-arrow {
  left: 72px;
}
.slick-next:before {
  content: "\e911";
  transform: rotate(180deg);
  display: block;
}
.slick-prev:before {
  content: "\e911";
}
#recent-blog .arrow-slider::before {
  color: #fff;
  font-size: 30px;
}
.space-row-1 {
  height: 200px;
}
.space-row-2 {
  height: 100px;
}
.box-title-recent-blog {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.rubbish-img {
  position: absolute;
  bottom: 0px;
  left: 0;
}
.rubbish-img img {
  width: 183px;
}
.contact-our-experts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title1-coe {
  font-size: 35px;
  font-family: "Morabba";
  font-weight: 600;
}
.title2-coe {
  font-size: 35px;
  font-family: "Morabba";
}
.img-coe img {
  width: 768px;
}
/*index-end*/
/*footer-st*/
.footer-main-bg {
  background-size: cover;
  background-image: url("../img/svg/footer.svg");
  background-repeat: no-repeat;
  max-height: 430px;
  height: 100%;
  width: 100%;
  position: relative;
}
.electronic-trust-symbols {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-ets {
  display: flex;
  justify-content: center;
}
.img-ets img {
  width: 97px;
}
.title2-footer {
  font-size: 14px;
  color: #fff;
  line-height: 2.2;
  text-align: justify;
}
.title-footer {
  font-size: 16px;
  color: #fff;
  font-family: "Morabba";
}
.footer-bottom {
  border-top: 1px dashed #fff;
}
.footer-bottom p {
  color: #fff;
  padding: 10px 0px;
  font-size: 14px;
  font-family: "Morabba";
}
.single-social {
  color: #fff;
  font-size: 27px;
  padding: 0px 10px;
}
/*footer-end*/
/*page-jabjayia-st*/
/*header*/
.bg-img-header-3 {
  background-image: url("../img/svg/bg-img-header-3.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 433px;
  width: var(--percent-100);
}
.bg-img-header-3 .jab-box-head {
  width: 100%;
  max-width: unset;
  align-items: center;
}
.bg-img-header-3 .jab-advance-search {
  width: 100%;
  justify-content: space-between;
}
.bg-img-header-3 .job-recent-searches {
  width: 100%;
  justify-content: space-around;
}
.bg-img-header-3 .search-jas input {
  width: 371px;
}
.bg-img-header-3 .job-group-jas .form-select {
  width: 214px;
}
.bg-img-header-3 .job-origin-jas .form-select {
  width: 95px;
}
.bg-img-header-3 .job-goal-jas .form-select {
  width: 95px;
}
.bg-img-header-3 .job-search-btn-jas button {
  width: 214px;
}
/**/
.pic-info {
  background-image: url("../img/svg/afa-removebg-preview.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 610px;
  position: relative;
  border: 1px dashed #0000001c;
}
.title-pic-info {
  width: 137px;
  text-align: center;
  position: absolute;
  top: 26%;
  right: 20%;
}
.title-pic-info p,
.title-list-movement {
  font-size: 16px;
  font-family: "Morabba";
}
.title-list-movement {
  font-weight: 600;
}
.sort-by-tlm {
  display: flex;
  align-items: center;
}
.sort-by-tlm .fas.fa-chevron-down {
  padding: 0px 6px;
}
.box-title-list-movement {
  border-bottom: 1px dashed #0000001c;
}
.list-movement-inside {
  max-height: 668px;
  height: 100%;
  overflow: scroll;
}
.list-movement-inside::-webkit-scrollbar {
  display: none;
}
/*page-jabjayia-end*/
/*contact-us-st*/
.bg-img-header-2 {
  background-image: url("../img/svg/bg-img-header-2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: var(--percent-100);
  min-height: 150px;
  position: relative;
}
#header-contact.bg-img-header-2::after {
  content: "";
  background: url("../img/svg/85412.svg") no-repeat;
  width: 404px;
  height: 310px;
  background-size: cover;
  position: absolute;
  top: 22%;
  bottom: 0;
  left: 10%;
}
.desc-contact {
  font-size: 14px;
  text-align: justify;
  line-height: 2.5;
}
#contact-form {
  display: flex;
  justify-content: space-between;
}
.flex-contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .form-control {
  width: 240px;
  height: 65px;
  border: 1px dashed #70707045;
}
.form-group #message {
  width: 860px;
  height: 207px;
}
.form-group {
  padding: 4px 0px;
}
.contact-info {
  display: flex;
  justify-content: space-evenly;
}
.title-ci {
  font-size: 18px;
  font-weight: 600;
}
.desc-ci {
  font-size: 16px;
}
.desc-footer {
  width: 399px;
  padding-bottom: 9px;
}
.vuesax-bold-map::before,
.sms-tracking::before,
.call-calling::before {
  color: #4c87c2;
  font-size: 50px;
  background-color: #eaf3ff;
  padding: 16px;
  border-radius: 50%;
}
.single-contact-info {
  width: 262px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.single-contact-info p {
  text-align: center;
}
#footer-contact.footer-main-bg::before {
  content: "";
  background: url("../img/svg/Group 201.svg") no-repeat;
  position: absolute;
  bottom: 92%;
  right: 2%;
  width: 147px;
  height: 212px;
}
.box-btn-form {
  display: flex;
  justify-content: flex-end;
}
.btn-form {
  background-color: rgba(95, 244, 244, 0.13);
  border-radius: 20px;
  width: 208px;
  height: 48px;
  color: var(--jab-lightBlue);
  font-size: var(--f-14);
}
/*contact-us-end*/
/*about-us-st*/
.desc-box {
  line-height: 2.5;
  text-align: justify;
  font-size: 14px;
}
.desc-title-blda {
  font-size: 14px;
}
.single-list-da {
  font-size: 15px;
  line-height: 2;
}
.list-desc-about .fa-circle:before {
  content: "\f111";
  font-size: 9px;
  color: var(--jab-lightBlue);
  padding: 0px 0px 0px 10px;
}
.box-about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-about-us,
.single-about-us2 {
  border: 1px dashed #bcefff;
  width: 266px;
  height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.single-about-us2 {
  border: 1px dashed #a6cbfc;
}
.single-about-us p,
.single-about-us2 p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  padding: 0px 10px;
}
.right-quote::before {
  font-size: 25px;
  color: var(--jab-lightBlue);
}
.first-sau {
  text-align: right;
  padding-right: 15px;
}
.second-sau {
  transform: rotate(181deg);
  text-align: right;
  padding-right: 15px;
}
.single-about-us2 .right-quote::before {
  color: #a6cbfc;
}
/*faq*/
.accardion {
  width: 100%;
  height: auto;
}
.accardion_item {
  overflow: hidden;
  width: 100%;
  border-top: 1px dashed #303030;
}
.accardion_item:last-child {
  border-bottom: 1px dashed #303030;
}
.accardion_item .accardion_trigger.active + .accardion_content {
  transform: scaleY(1);
  padding: 3px 22px;
  height: auto;
}
.accardion_content p {
  text-align: justify;
  font-size: 14px;
}
.accardion_item .accardion_trigger.active:after {
  transform: rotate(90deg);
}
.accardion_item .accardion_trigger.active {
  border-radius: 1px;
  height: auto;
}
.accardion_trigger {
  height: 60px;
  padding: 15px 0px 15px 10px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.pluse::before {
  font-size: 18px;
}
.accardion_content {
  transform-origin: top;
  transform: scaleY(0);
  padding: 0 20px 0;
  transition: 0.3s;
  max-height: 0;
  overflow: hidden;
  font-size: 15px;
}
/*faq-end*/
/*about-us-end*/
/*list-blog-st*/
#box-blog-list .item-recent-blog {
  max-width: unset;
  width: 100%;
  display: flex;
  max-height: 192px;
  height: 100%;
}
#box-blog-list .framPic-recent-blog {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/svg/Subtraction 1.svg");
  height: 60px;
  background-repeat: no-repeat;
}
#box-blog-list .img-path {
  clip-path: polygon(
    94% 0%,
    100% 0%,
    100% 0%,
    0% 0%,
    0% 0%,
    0% 38%,
    0% 75%,
    14% 95%,
    13% 94%,
    68% 90%,
    0% 0%,
    66% 90%,
    81% 87%,
    89% 85%,
    101% 82%,
    100% 88%,
    100% 78%,
    100% 66%,
    100% 27%,
    100% 0%
  );
}
#single-blog-list .img-path {
  clip-path: polygon(
    100% 0%,
    77% 0%,
    35% 0%,
    19% 0%,
    0% 0%,
    0% 51%,
    0% 85%,
    57% 92%,
    66% 94%,
    81% 97%,
    92% 91%,
    100% 88%,
    100% 75%,
    100% 78%,
    100% 81%,
    100% 47%,
    100% 25%
  );
}
#box-blog-list .desc-box-rb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#box-blog-list .bottom-box-rb {
  align-items: center;
  padding: 10px 0px 0px 0px;
}
.box-icon-bbr {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 0px 0px 20px;
}
#jab-page .pagination {
  justify-content: flex-end;
  align-items: center;
}
#jab-page .page-link,
#jab-page .page-item {
  font-size: 14px;
  color: var(--jab-gray);
  border: none;
}
.pic-extera img {
  width: 183px;
  height: 483px;
}
/*list-blog-end*/
/*single-blog-st*/
.txt-bg-single {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}
.bg-img-single {
  background: url("../img/pic-single.jpg") no-repeat;
  background-size: contain;
  border-radius: 25px;
  width: 1140px;
  height: 440px;
}
.article-title {
  font-size: var(--f-32);
  font-family: "morabba";
  color: #fff;
  padding: 28px;
}
.article-title-decs {
  font-size: 14px;
  color: #fff;
  border-bottom: 1px dashed #fff;
  padding: 22px;
}
.txt-bg-single .box-icon-bbr {
  justify-content: center;
  padding: 24px;
}
.txt-bg-single .author-name-bbr,
.txt-bg-single .vuesax-bold-profile-circle::before,
.txt-bg-single .caln::before {
  color: #fff;
  padding: 5px;
}
.title-txt-article {
  color: var(--jab-lightBlue);
  font-size: 16px;
  font-family: "morabba";
}
.desc-txt-article {
  font-size: 14px;
  text-align: justify;
  line-height: 2;
}
#txt-single-blog .main-title {
  font-size: var(--f-16);
}
.box-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dashed #a1a1a1;
  border-bottom: 1px dashed #a1a1a1;
  padding: 20px 0px;
}
.labels {
  display: flex;
}
.labels a {
  font-size: var(--f-14);
  color: var(--jab-gray);
  padding: 0px 5px;
}
.labels-icon {
  display: flex;
}
.labels-icon a img {
  width: 20px;
  height: 20px;
}
.labels-icon a {
  padding: 0px 5px;
}
#user-comments-box {
  display: flex;
  flex-direction: column;
  position: relative;
}
.title-user-comments {
  font-size: var(--f-16);
  color: var(--jab-lightBlue);
}
.holder-tuc,
.holder-tuc2,
.holder-tuc3 {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}
.jobs-ht {
  font-size: 14px;
}
.desc-ht {
  color: #6d6d6d;
  border-top: 1px solid #e8e8e8;
  padding: 3px 0px;
}
.holder-tuc span,
.holder-tuc2 span,
.holder-tuc3 span {
  display: flex;
  justify-content: flex-end;
  color: var(--jab-lightBlue);
}
.holder-tuc2 .desc-ht,
.holder-tuc3 .desc-ht {
  border-top: none;
}
.holder-tuc2 .fas.fa-circle {
  color: #6d6d6d;
  font-size: 8px;
  padding: 0px 15px 0px 5px;
}
.holder-tuc2 {
  padding-right: 5%;
}
.holder-tuc3 .jobs-ht {
  border-top: 1px dashed #e8e8e8;
  padding: 15px 0px;
}
#user-comments-box::before {
  content: "";
  background: url("../img/men-pic-5.png") no-repeat;
  background-size: cover;
  width: 201px;
  height: 335px;
  position: absolute;
  top: -33px;
  bottom: 0px;
  left: -83px;
}
/*single-blog-end*/
