<template>
  <footer >
    <div class="container-fluid footer-main-bg">
      <div class="space-row-2"></div>
      <div class="container">
        <div class="row pt-4">
          <div class="col-12 col-md-5">
            <p class="title-footer">
              جابجاشو، لورم ایپسوم متن ساختگی
            </p>
            <p class="title2-footer desc-footer">لورم ایپسوم متن سـاختگی با تولیـد سـادگی نـامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چـاپگرها و متون بلکه روزنـامه و مجله که در ستون و سطر آنچنـان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیـادی در شصت و سه درصـد گذشته، حـال و آینده شناخت فراوان جامعه و متخصصـان را می طلبد</p>
            <div class="holder-social-footer">
              <a class="single-social" href="#"><i class="fab fa-twitter"></i></a>
              <a class="single-social" href="#"><i class="fab fa-linkedin"></i></a>
              <a class="single-social" href="#"><i class="fab fa-youtube"></i></a>
              <a class="single-social" href="#"><i class="fab fa-whatsapp"></i></a>
              <a class="single-social" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="col-12 col-md-2">
            <ul class="title2-footer">
              <li class="title-footer"><a href="#">دسترسی سریع</a></li>
              <li><a href="#">صفحه نخست</a></li>
              <li><a href="#">جابجایی ها</a></li>
              <li><a href="#">وبلاگ</a></li>
              <li><a href="#">صفحه نخست</a></li>
              <li><a href="#">جابجایی ها</a></li>
              <li><a href="#">وبلاگ</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-2">
            <ul class="title2-footer">
              <li class="title-footer"><a href="#">دسترسی سریع</a></li>
              <li><a href="#">صفحه نخست</a></li>
              <li><a href="#">جابجایی ها</a></li>
              <li><a href="#">وبلاگ</a></li>
              <li><a href="#">صفحه نخست</a></li>
              <li><a href="#">جابجایی ها</a></li>
              <li><a href="#">وبلاگ</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-3">
            <div class="electronic-trust-symbols">
              <p class="title-footer">نماد های اعتماد الکترونیکی</p>
              <div class="img-ets">
                <img src="@/assets/img/logo4.png">
                <img src="@/assets/img/logo4.png">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12">
            <div class="footer-bottom">
              <p> تمامی حقوق این وب سایت متعلق به سامانه جابجاشو می باشد</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer"
}
</script>