<template>
  <header>
    <div :class="`container-fluid ${customClass}`" :id="customId">
      <div class="container">
        <div class="row">
          <top-menu/>
          <slot></slot>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import TopMenu from "@/layout/TopMenu";
export default {
  name: "Header",
  props: {
    customClass: {
      type: String,
      default: 'bg-img-header'
    },
    customId: {
      type:String,
      default: ''
    }
  },
  components: {TopMenu}
}
</script>