<template>
  <div>
    <Header>
      <div class="col-12 col-md-10">
        <div class="jab-box-head pt-5">
          <div class="title-jbh pb-4">
            <p>2534 آگهی جابه جایی فعال در830 جایگاه</p>
          </div>
          <search-box :data="{}" @search="goSearch"/>
          <div class="job-recent-searches pt-4">
            <div class="recent-searches"><i class="times"></i><p> جستجو های اخیر :</p></div>
            <div class="box-recent-searches">
              <div class="d-flex">
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
              </div>
              <div class="d-flex pt-4">
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2 position-relative">
        <div class="job-img-head">
          <img src="@/assets/img/524.png">
        </div>
      </div>
      <div class="col-12 position-relative">
        <div class="job-img-head2">
          <img src="@/assets/img/svg/Megaphone.svg">
        </div>
      </div>
    </Header>
    <router-view></router-view>
    <Footer></Footer>
  </div>
</template>

<script>
import Footer from '@/layout/Footer'
import Header from '@/layout/Header'
import SearchBox from "components/SearchBox";

export default {
  name: "Index",
  components: {SearchBox, Footer, Header}
}

</script>