<template>
  <header>
    <div class="container-fluid bg-img-header-2">
      <div class="container">
        <div class="row">
          <top-menu/>
          <slot></slot>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import TopMenu from '@/layout/TopMenu'
export default {
  name: "Header",
  components: {TopMenu}
}
</script>