<template>
  <div>
    <Header custom-class="bg-img-header-2">
    </Header>
    <router-view></router-view>
    <Footer/>
  </div>
</template>

<script>
import Header from '@/layout/Header'
import Footer from "@/layout/Footer";

export default {
  name: "PagesIndex",
  components: {Footer, Header}
}
</script>