<template>
  <div class="menu-top">
    <div class="col-12 col-md-2">
      <div class="jab-logo">
        <a href="/"><img src="@/assets/img/svg/logo1.svg">جابه جاشو</a>
      </div>
    </div>
    <div class="col-12 col-md-7">
      <nav class="navbar navbar-expand-lg">
        <div class="justify-content-start navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <router-link :to="{name: 'index'}" class="nav-link">
                صفحه نخست
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{name: 'opportunities'}" class="nav-link">جابه جایی ها</router-link>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">وبلاگ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">تماس باما</a>
            </li>
            <li class="nav-item">
              <router-link :to="{name: 'about'}" class="nav-link">
                درباره ما
              </router-link>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-12 col-md-3 jab-login-reg">
      <div class="jab-holder-lr">
        <button class="jab-btn-login"><a> ورود</a></button>
        <button class="jab-btn-register"><a> ثبت نام</a></button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TopMenu"
}
</script>