<template>
  <div>
    <!--about-us-txt-st-->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-2">
          <img src="@/assets/img/654-removebg-preview.png">
        </div>
        <div class="col-12 col-md-10">
          <div>
            <p class="main-title pb-3">
              جابجاشو، لورم ایپسوم متن ساختگی
            </p>
            <p class="desc-box pb-4">
              لورم ایپسوم متن ساختگی با تولید سـادگی نامفهوم از صنعت چاپ و
              با استفاده از طراحـان گرافیک است. چـاپگرها و متون بلکه روزنامه و مجله که
              در ستون و سطر آنچنـان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
              و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتـاب های زیادی
              در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصـان را
              می طلبـد لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چـاپگرها و متون بلکه روزنامه و مجله در
              ستون و سطر آنچنـان که لازم است و برای شرایط فعلی تکنولوژی مورد نیـاز و
              کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی
              در شصت و سه درصد گذشته، حـال و آینده شناخت فراوان جامعه و متخصصان
              را می طلبـد لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
              چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
              مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهـای کاربردی می باشد. کتاب
              های زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و
              متخصصان را می طلبد لورم ایپسوم متن ساختگی با تولیـد سادگی نامفهوم
              از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون
              بلکه روزنامه و مجله در ستون و سطر آنچنـان که لازم است و برای شرایط
              فعلی تکنولوژی که مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
              کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده
              شناخت فراوان جامعه و متخصصان را می طلبد لورم ایپسوم متن ساختگی
              با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
              است. چـاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنـان
              که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
              با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
              درصد گذشته، حـال و آینده شناخت فراوان جامعه و متخصصان را می طلبد
            </p>
          </div>
          <div class="box-list-desc-about">
            <p class="main-title pb-2">
              جابجاشو، لورم ایپسوم متن ساختگی
            </p>
            <p class="desc-title-blda">لورم ایپسوم متن ساختگی با تولید سـادگی نامفهوم از صنعت چاپ و با استفاده از طراحـان گرافیک است</p>
            <ul class="list-desc-about pt-3">
              <li class="single-list-da"><i class="fas fa-circle"></i>لورم ایپسوم متن ساختگی با تولید سـادگی</li>
              <li class="single-list-da"><i class="fas fa-circle"></i>لورم ایپسوم متن ساختگی با تولید سـادگی</li>
              <li class="single-list-da"><i class="fas fa-circle"></i>لورم ایپسوم متن ساختگی با تولید سـادگی</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="desc-title-blda">
            لورم ایپسوم متن ساختگی با تولید سـادگی نامفهوم از صنعت چاپ و با استفاده از طراحـان گرافیک است. چـاپگرها و متون بلکه روزنامه و مجله که  در ستون و سطر آنچنـان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتـاب های زیادی در شصت و سه درصد گذشته، حـال و آینده شناـخت فراوان جامعه و متخصصـان را می طلبـد
          </p>
        </div>
      </div>
    </div>
    <!--about-us-txt-end-->
    <!--about-us-box-st-->
    <div class="container">
      <div class="row">
        <div class="col-12 pt-5">
          <div class="box-about-us">
            <div class="single-about-us">
              <i class="first-sau right-quote"></i>
              <p>لورم ایپسوم متن ساختگی با تولید سـادگی لورم ایپسوم متن ساختگی با تولید سـادگی  </p>
              <i class="second-sau right-quote"></i>
            </div>
            <div class="single-about-us2">
              <i class="first-sau right-quote"></i>
              <p>لورم ایپسوم متن ساختگی با تولید سـادگی لورم ایپسوم متن ساختگی با تولید سـادگی  </p>
              <i class="second-sau right-quote"></i>
            </div>
            <div class="single-about-us">
              <i class="first-sau right-quote"></i>
              <p>لورم ایپسوم متن ساختگی با تولید سـادگی لورم ایپسوم متن ساختگی با تولید سـادگی  </p>
              <i class="second-sau right-quote"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--about-us-box-end-->
    <!--faq-st-->
    <div class="container">
      <div class="row pt-5">
        <div class="col-12">
          <p class="main-title pb-3">سوالات متداول درباره جابجاشو</p>
          <ul class="accardion accordion" id="questions-acc">
            <li class="accardion_item" v-for="(q,i) in questions" :key="q.key">
              <h2 class="accordion-header" :id="`heading-${i}`">
                <button class="accordion-button pluse" type="button" data-bs-toggle="collapse" :data-bs-target="`#collapse-${i}`" aria-expanded="true" aria-controls="collapseOne">
                  {{ q.title }}
                </button>
              </h2>
              <div :id="`collapse-${i}`" class="accordion-collapse collapse" :aria-labelledby="`heading-${i}`" data-bs-parent="#questions-acc">
                <div class="accordion-body" v-html="q.answer"></div>
              </div>
<!--              <div class="pluse accardion_trigger">-->
<!--                {{ q.title }}-->
<!--              </div>-->
<!--              <div class="accardion_content">-->
<!--                <p class="pb-3">-->
<!--                  {{ q.answer }}-->
<!--                </p>-->
<!--              </div>-->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--faq-end-->
  </div>
</template>

<script>
export default {
  name: "About",
  data: () => ({
    questions: [
      {
        title: 'عنوان سوال شما اینجا قرار می گیرد؟',
        answer: 'لـورم ایپسوم متن سـاختگی با تولیـد سادگی نـامفهوم از صنعت چاپ و با استفاده از طراحـان گرافیک است. چـاپگرها و متون بلکه روزنـامه و مجله در ستون و سطر آن چنـان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهـای متنوع با هدف بهبود ابزارهـای کاربردی می باشد\n'
      },
      {
        title: 'عنوان سوال شما اینجا قرار می گیرد؟',
        answer: 'لـورم ایپسوم متن سـاختگی با تولیـد سادگی نـامفهوم از صنعت چاپ و با استفاده از طراحـان گرافیک است. چـاپگرها و متون بلکه روزنـامه و مجله در ستون و سطر آن چنـان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهـای متنوع با هدف بهبود ابزارهـای کاربردی می باشد\n'
      },
      {
        title: 'عنوان سوال شما اینجا قرار می گیرد؟',
        answer: 'لـورم ایپسوم متن سـاختگی با تولیـد سادگی نـامفهوم از صنعت چاپ و با استفاده از طراحـان گرافیک است. چـاپگرها و متون بلکه روزنـامه و مجله در ستون و سطر آن چنـان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهـای متنوع با هدف بهبود ابزارهـای کاربردی می باشد\n'
      },
    ]
  })
}
</script>

<style>
.accordion-button::after {
  opacity: 0;
}
.accordion-button:not(.collapsed) {
  color: #303030;
  background-color: #fff;
  box-shadow: unset;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #303030;
  outline: 0;
  box-shadow: unset;
}
</style>