<template>
  <div>
    <loading :active="isBusy" is-full-page />
    <Header>
      <div class="col-12 col-md-10">
        <div class="jab-box-head pt-5">
          <div class="title-jbh pb-4">
            <p>2534 آگهی جابه جایی فعال در830 جایگاه</p>
          </div>
          <search-box v-model="searchData" @search="goSearch"/>
          <div class="job-recent-searches pt-4">
            <div class="recent-searches"><i class="times"></i><p> جستجو های اخیر :</p></div>
            <div class="box-recent-searches">
              <div class="d-flex">
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
              </div>
              <div class="d-flex pt-4">
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2 position-relative">
        <div class="job-img-head">
          <img src="@/assets/img/524.png">
        </div>
      </div>
      <div class="col-12 position-relative">
        <div class="job-img-head2">
          <img src="@/assets/img/svg/Megaphone.svg">
        </div>
      </div>
    </Header>
    <!--about-box-->
    <div class="container">
      <div class="row px-5">
        <div class="col-12 col-md-6">
          <div class="job-about-box">
            <div class="title-jab1"><i class="fas fa-circle"></i><p>درباره جابجاشو</p></div>
            <div class="title-jab2 pt-3">جایگاه <span>مورد علاقه ی خود</span> را<br>
              با کمک ما پیدا کنید</div>
            <div class="discription-jab pt-3">
              <p>  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چـاپ و با استفاده از طراحـان گرافیک است. چـاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
            </div>
            <div class="statistics-box pt-3">
              <div class="single-statistics"><p>450+</p><p>جایگاه</p></div>
              <div class="single-statistics"><p>5641+</p><p>جابجا شده ها</p></div>
              <div class="single-statistics"><p>450+</p><p>جایگاه</p></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="">
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
    <!--about-box-end-->
    <!--video-box-->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 pt-5">
          <div class="jab-video-box">
            <div class="video-jvb-holder">
              <div class="video-jvb"></div>
            </div>
            <div class="txt-jvb-holder">
              <div class="title-jvb pb-3">
                <a href="#">با سامانه ما بیشتر آشنا شوید</a>
              </div>
              <div class="disc-jvb">
                <p>لورم ایپسوم متن ساختگی با تولید سـادگی نامفهوم که از صنعت چـاپ و با استفـاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنـان که لازم است و برای شـرایط فعلی که تکنولوژی مورد نیاز و کاربـردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-2 pt-5">
          <div class="jab-videobox-img">
            <img src="@/assets/img/pic-men2.png">
          </div>
        </div>
      </div>
    </div>
    <!--advertising-recently-->
    <div class="container">
      <div class="row  pt-5">
        <div class="col-12 col-md-6">
          <div class="advertising-recently">
            <div class="title-box-ar">
              <a href="#" class="main-title pb-3">آگهی های اخیر</a>
              <p class="second-title">آگهی هایی که به تازگی منتشر شده اند</p>
            </div>
            <a class="more-special-btn" href="#">
              مشاهده بیشتر
            </a>
          </div>
          <div class="pt-3" v-for="item in latest" :key="item.id">
            <single-opp :item="item"/>
          </div>
        </div>
        <div class="col-12 col-md-6 px-5">
          <div class="advertising-recently pb-4">
            <div class="title-box-ar">
              <a href="#" class="main-title pb-3">آگهی های پر بازدید</a>
              <p class="second-title">آگهی هایی که بیشترین بازدید را داشته اند</p>
            </div>
            <a class="more-special-btn" href="#">
              مشاهده بیشتر
            </a>
          </div>
          <div class="moste-visited-advertising-box">
            <div class="moste-visited-advertising" v-for="item in mostViewed" :key="item.key">
              <div class="single-info"><i class="frame"></i>{{ item.title }}</div>
              <div class="single-info"><i class="buliding"></i>{{ item.position }} {{ item.origin.name }}</div>
              <a href="#"><i class="arrow"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--advertising-recently-end-->
    <div class="space-row-1"></div>
    <!--recent-blog-content-->
    <div class="container-fluid recent-blog-content-bg">
      <div class="container">
        <div class="row">
          <div class="col-12 pt-4">
            <div class="box-title-recent-blog">
              <div>
                <p class="title-recent-blog">مطالب اخیر وبلاگ</p>
                <p class="title2-recent-blog pt-2">همه ی آگهی های فعال رو از اینجا میتوانید مشاهده کنید</p>
              </div>
              <div class="rubbish-img">
                <img src="@/assets/img/svg/Reviews.svg">
              </div>
            </div>
          </div>
          <div id="recent-blog" class="col-12 pt-5">
            <BlogSlider/>
          </div>
        </div>
      </div>
    </div>
    <!--recent-blog-content-end-->
    <div class="space-row-2"></div>
    <!--contact-our-experts-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="contact-our-experts">
            <p class="title1-coe">نیاز به <span> راهنمایی</span> دارید؟</p>
            <p class="title2-coe pt-5">با کارشناسان ما تماس بگیرید</p>
            <div class="img-coe">
              <img src="@/assets/img/svg/Group98.svg">
            </div>
            <a class="more-special-btn" href="#">
              مشاهده بیشتر
            </a>
          </div>
        </div>
      </div>
    </div>
<!--    Footer section-->
    <Footer/>
  </div>
</template>

<script>

import BlogSlider from "@/components/BlogSlider";
import SearchBox from "@/components/SearchBox";
import Header from "@/layout/Header";
import Footer from "@/layout/Footer";
import {oppApi} from "@/api";
import SingleOpp from "@/components/SingleOpp";

export default {
  name: 'Index',
  components: {SingleOpp, Footer, Header, SearchBox, BlogSlider},
  data: () => ({
    isBusy: false,
    latest: [],
    mostViewed: [],
    searchData: {
      title: '',
      origin_id: null,
      destination_id: null,
      category_id: null
    }
  }),
  mounted() {
    this.load()
  },
  methods: {
    async load() {
      this.isBusy = true
      await this.loadLatest()
      await this.loadMostViewed()
      this.isBusy = false
    },
    async loadLatest() {
      let res = await oppApi.search({order_by: 'id', limit: 10})
      if (res.ok) {
        this.latest = res.data
      }
    },
    async loadMostViewed() {
      let res = await oppApi.search({order_by: 'view_count', limit: 10})
      if (res.ok) {
        this.mostViewed = res.data
      }
    },
    async goSearch() {
      let query = {}
      Object.keys(this.searchData).forEach(k => {
        if (this.searchData[k]) {
          query[k] = this.searchData[k]
        }
      })
      console.log(query)
      await this.$router.push({name: 'opportunities', query: {...query}})
    }
  }
}
</script>