<template>
  <div>
    <loading :active="isBusy" is-full-page/>
    <Header custom-class="bg-img-header-3">
      <div class="col-12 col-md-12">
        <div class="jab-box-head pt-5">
          <search-box v-model="searchData" @search="load"></search-box>
          <div class="job-recent-searches pt-4">
            <div class="recent-searches"><i class="times"></i><p> جستجو های اخیر :</p></div>
            <div class="box-recent-searches">
              <div class="d-flex">
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
                <div class="single-recent-jrs"><i class="search"></i><p>سرباز معلم (مولوی)</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Header>
    <!--list-movement-->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 px-4">
          <div class="list-movement">
            <div class="box-title-list-movement">
              <p class="title-list-movement pb-4">پیمایش در 12548 جابجایی فعال</p>
              <p class="sort-by-tlm">مرتب سازی<i class="fas fa-chevron-down"></i></p>
            </div>
            <div class="list-movement-inside" v-if="!isBusy">
              <div class="pt-4" v-for="item in opportunities" :key="item.id">
                <single-opp :item="item"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 pt-5">
          <div>
            <div class="pic-info">
              <div class="title-pic-info">
                <p>جهت مشاهده اطلاعات آگهی شغلی یکی از موارد را از سمت راست انتخاب کنید</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--list-movement-end-->
    <div class="space-row-2"></div>
    <!--contact-our-experts-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="contact-our-experts">
            <p class="title1-coe">نیاز به <span> راهنمایی</span> دارید؟</p>
            <p class="title2-coe pt-5">با کارشناسان ما تماس بگیرید</p>
            <div class="img-coe">
              <img src="@/assets/img/svg/Group98.svg">
            </div>
            <a class="more-special-btn" href="#">
              مشاهده بیشتر
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--contact-our-experts-end-->
    <Footer></Footer>
  </div>
</template>

<script>
import {oppApi} from '@/api'
import SearchBox from '@/components/SearchBox'
import Footer from '@/layout/Footer'
import Header from '@/layout/Header'
import SingleOpp from "@/components/SingleOpp";

export default {
  name: "Opportunities",
  components: {SingleOpp, Footer, Header, SearchBox},
  data() {
    return {
      isBusy: false,
      opportunities: [],
      searchData: {
        title: '',
        origin_id: null,
        destination_id: null,
        category_id: null
      }
    }
  },

  watch: {
    $route: {
      handler: function(route) {
        if (route.query) {
          let {query} = route
          Object.keys(query).forEach(k => {
            let v = query[k]
            if (typeof this.searchData[k] !== 'undefined' && (v !== '' && parseInt(v) !== -1)) {
              this.searchData[k] = query[k]
            }
          })
        }
      },
      immediate: true
    }
  },

  async mounted() {
    await this.load()
  },

  methods: {
    async load() {
      this.isBusy = true
      let res = await oppApi.search(this.searchData);

      if (res.ok) {
        this.opportunities = res.data
      }

      this.isBusy = false
    }
  }
}
</script>
<style>
.single-info i::before, .single-info2 i::before {
  float: right;
}
</style>