@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5kasgf');
  src:  url('fonts/icomoon.eot?5kasgf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5kasgf') format('truetype'),
    url('fonts/icomoon.woff?5kasgf') format('woff'),
    url('fonts/icomoon.svg?5kasgf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-printer:before {
  content: "\e910";
}
.icon-vuesax-bold-profile-circle:before {
  content: "\e90c";
  color: rgba(48, 48, 48, 0.45);
}
.icon-times:before {
  content: "\e90d";
  color: #fff;
}
.icon-52:before {
  content: "\e90e";
}
.icon-frame:before {
  content: "\e90f";
  color: #5ff4f4;
}
.icon-arrow:before {
  content: "\e901";
}
.icon-buliding:before {
  content: "\e902";
  color: #5ff4f4;
}
.icon-caln:before {
  content: "\e903";
  color: #a1a1a1;
}
.icon-vuesax-bold-map:before {
  content: "\e904";
  color: #4c87c2;
}
.icon-vuesax-bold-sms-tracking:before {
  content: "\e905";
  color: #64a0f0;
}
.icon-vuesax-bold-call-calling:before {
  content: "\e906";
  color: #4c87c2;
}
.icon-Group-268 .path1:before {
  content: "\e907";
  color: rgb(161, 161, 161);
}
.icon-Group-268 .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-268 .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-negativ:before {
  content: "\e90a";
}
.icon-pluse:before {
  content: "\e90b";
}
.icon-right-quote-1:before {
  content: "\e900";
  color: #5ff4f4;
}
